/* .App {
  text-align: center;
} */
*,
html {
  margin: 0;
  padding: 0;
  object-fit: contain;
}
.app {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* mobile responsive */
@media (max-width: 600px) {
  .app {
    overflow-x: hidden;
  }
}

/* LOGO */
.app-logo {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 8vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: app-logo-spin infinite 20s linear;
  }
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
