.createSnippet {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 100%;
  /* padding: 0 4rem; */
  /* border: greenyellow 1px solid; */
}
.container__title {
  margin-bottom: 2rem;
  color: white;
  text-align: center;
}
.createSnippet__container {
  margin-top: 2rem;
}

.form-group label {
  margin-top: 0.8rem;
  font-size: 20px;
  color: #c1b5a6;
  font-weight: 600;
  font-style: italic;
}
.form-control {
  background-color: #c1b5a6;
}
.createSnippet button {
  margin-top: 20px;
  color: #c1b5a6;
  border: 1px solid #c1b5a6;
}
.createSnippet button:hover {
  color: white;
}

.createSnippet__submitBtn {
  float: right;
  margin-left: 10px;
}
