.showSnippet {
  height: 100%;
  width: 85%;
}

.showSnippet__item {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  /* border: 1px solid red; */
}

.item__topRow {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20px;
  margin-top: 2.8rem;
}

.topRow__leftSide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 9;
  margin-left: 5rem;
}
.showSnippet__title {
  color: #c1b5a6;
}
.topRow__leftSide .devicon {
  font-size: 40px;
  margin-right: 20px;
}
.topRow__leftSide input {
  font-size: 30px;
  width: 80%;
  background-color: #c1b5a6;
  color: black;

  margin: 2rem 0;
}

.topRow__rightSide {
  flex: 1;
  display: flex;
  justify-content: right;
  padding-right: 20px;
}
.topRow__rightSide .editBtn {
  color: rgb(59, 109, 59);
  font-size: 30px;
  cursor: pointer;
  margin-right: 20px;
}
.topRow__rightSide .deleteBtn {
  color: rgb(232, 86, 86);
  font-size: 30px;
  cursor: pointer;
}
.item__bottomRow {
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-top: 1px solid #c1b5a6;
  border-bottom: 1px solid #c1b5a6;
}
.showSnippet__itemsLeft {
  display: flex;
  height: 100%;
  flex-direction: column;
  border-right: 1px solid #c1b5a6;
  flex: 3;
  justify-content: space-evenly;
  color: #c1b5a6;
}
.showSnippet__itemsLeft input,
.showSnippet__itemsLeft select {
  width: 80%;
  background-color: #c1b5a6;
  color: black;
}
.itemsLeft__info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.itemsLeft__info span {
  font-style: italic;
  text-decoration: underline;
  color: #7c7d7e;
  font-size: 17px;
  margin-bottom: 10px;
}

.showSnippet__itemsRight {
  padding: 25px;
  flex: 9;
  margin-left: 20px;
}
.showSnippet__itemsRight .form-group {
  margin-left: 20px;
}
.showSnippet__itemsRight .form-group textarea {
  font-size: 20px;
  background-color: #c1b5a6;
  color: black;
}
.itemsRight__info {
  padding-left: 2rem;
}

.showSnippet__updateButtons {
  display: flex;
  justify-content: right;
  margin-top: 20px;
}
.showSnippet__updateButtons .cancel__btn {
  margin-right: 10px;
}

.showSnippet button {
  margin-top: 20px;
  color: #c1b5a6;
  border: 1px solid #c1b5a6;
}
.showSnippet button:hover {
  color: white;
}

@media (max-width: 675px) {
  .showSnippet {
    width: 100%;
  }
  .item__topRow {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid gray;
  }
  .topRow__leftSide,
  .topRow__rightSide {
    text-align: center;
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
  }
  .topRow__rightSide .editBtn,
  .topRow__rightSide .deleteBtn {
    font-size: 20px;
  }

  .item__bottomRow {
    display: flex;
    flex-direction: column;
  }
  .showSnippet__itemsLeft {
    border: none;
  }
  .itemsLeft__info span {
    font-size: 20px;
  }
  .itemsLeft__info p {
    font-size: 25px;
  }

  .item__bottomRow {
    border: none;
  }

  .showSnippet__itemsRight {
    width: 100%;
    width: 370px;
    padding: 0;
    margin-top: 2rem;
  }
  .itemsRight__infoSnippet {
    width: 100%;
    padding: 0;
    font-size: 18px;
  }
}
