.showSnippet {
  /* padding: 4rem; */
  height: 100%;
  width: 85%;
  /* border: 1px solid red; */
  /* margin-top: 2rem; */
}

.showSnippet__item {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  /* align-items: center; */
}

.item__topRow {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20px;
}

.topRow__leftSide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 9;
  margin-left: 5rem;
}
.showSnippet__title {
  color: #c1b5a6;
}
.topRow__leftSide .devicon {
  font-size: 40px;
  margin-right: 20px;
}
.topRow__leftSide input {
  font-size: 30px;
  width: 80%;
  background-color: #c1b5a6;
  color: black;
}

.topRow__rightSide {
  flex: 1;
  display: flex;
  justify-content: right;
  padding-right: 20px;
}
.topRow__rightSide .editBtn {
  color: rgb(59, 109, 59);
  font-size: 30px;
  cursor: pointer;
  margin-right: 20px;
}
.topRow__rightSide .deleteBtn {
  color: rgb(232, 86, 86);
  font-size: 30px;
  cursor: pointer;
}
.item__bottomRow {
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-top: 1px solid #c1b5a6;
  border-bottom: 1px solid #c1b5a6;
}
.showSnippet__itemsLeft {
  display: flex;
  height: 100%;
  flex-direction: column;
  border-right: 1px solid #c1b5a6;
  flex: 3;
  justify-content: space-evenly;
  color: #c1b5a6;
}
.showSnippet__itemsLeft input,
.showSnippet__itemsLeft select {
  width: 80%;
  background-color: #c1b5a6;
  color: black;
}
.itemsLeft__info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.itemsLeft__info span {
  font-style: italic;
  text-decoration: underline;
  color: #7c7d7e;
  font-size: 17px;
  margin-bottom: 10px;
}

.showSnippet__itemsRight {
  padding: 20px;
  flex: 9;
}
.showSnippet__itemsRight .form-group {
  margin-left: 20px;
}
.showSnippet__itemsRight .form-group textarea {
  font-size: 20px;
  background-color: #c1b5a6;
  color: black;
}
.itemsRight__info {
  padding-left: 2rem;
}

.showSnippet__updateButtons {
  display: flex;
  justify-content: right;
  margin-top: 20px;
}
.showSnippet__updateButtons .cancel__btn {
  margin-right: 10px;
}

.showSnippet button {
  margin-top: 20px;

  color: #c1b5a6;
  border: 1px solid #c1b5a6;
}
.showSnippet button:hover {
  color: white;
}
