.sideBar {
  flex: 2;
  /* border: 1px solid rgb(218, 216, 216); */
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
/* Hide scroll bar for chrome, safari, and opera */
.sideBar::-webkit-scrollbar {
  display: none;
}

.sideBar__title {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: #c1b5a6;
  padding-top: 20px;
}
.sideBar__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}
.sideBar__menuItems {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* border-bottom: 1px solid #c1b5a6; */
  padding-bottom: 2rem;
}
.sideBar__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
  border-bottom: 1px solid #c1b5a6;
}

.sideBar__bottom,
.sideBar__top {
  border-top: 1px solid #c1b5a6;
}
.sideBar button {
  font-size: 20px;
  display: flex;
  cursor: pointer;
  color: #c1b5a6;
  /* border-bottom: 1px solid #c1b5a6; */
  padding: 10px 20px;
}
.sideBar button:hover {
  color: white;
}
