.sideBar {
  flex: 2;
  border: 1px solid black;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
/* Hide scroll bar for chrome, safari, and opera */
.sideBar::-webkit-scrollbar {
  display: none;
}

.sideBar__title {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.sideBar__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}
.sideBar__menuItems {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid lightgray;
  padding-bottom: 2rem;
}
.sideBar__items {
  display: flex;
  flex-direction: column;
}

.sideBar__items button {
  cursor: pointer;
}
