.snippet {
  display: flex;
  justify-content: center;
  margin: 2rem;
}
.snippet .card {
  width: 15em;
  height: 300px;
  border-radius: 10px;
  box-shadow: 3px 3px 3px #cac7c7;
  background: transparent;
  border: 1px solid #c1b5a6;
}
.snippet .card i {
  font-size: 50px;
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid rgb(87, 85, 85);
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #c1b5a6;
}
.card-body .snippet__title {
  text-align: center;
  font-style: italic;
  padding-bottom: 20px;
}

.snippet__description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.snippet__date {
  color: gray;
}
