.header {
  /* border: 1px solid red; */
  width: 100%;
  /* border: 1px solid black; */
  /* height: 500px; */
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__img {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  object-fit: cover;
}

.header__img::before {
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.25);
}

.header__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header__title {
  width: 90%;
  height: 250px;
  /* border: 1px solid white; */
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-between;
  position: fixed;
  color: white;
  top: 10%;
  z-index: 999;
  font-family: 'Raleway', sans-serif;
  font-style: italic;
}
.title__big {
  font-size: 4rem;
}

.title__small {
  font-size: 2rem;
}

@media (max-width: 675px) {
  .header__title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .title__small {
    font-size: 1.5rem;
  }
}

/* <img
          src='https://images.unsplash.com/photo-1602659408748-ecdc55ed7a50?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80'
          alt='floppy disks'
        /> */

/* <img
          src='https://images.unsplash.com/photo-1618912487390-8987d3c3b862?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80'
          alt='floppy disks'
        /> */
