.navbar {
  z-index: 999;
  justify-content: space-between;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  left: 0;
}

.navbar h2 {
  font-size: 30px;
  color: #c1b5a6 !important;
}
.navbar-dark .navbar-nav .nav-link {
  color: #c1b5a6;
  font-size: 20px;
}

.navbar-toggler {
  border: 1px solid white !important;
}
.navbar-nav {
  display: flex;
  justify-content: right;
  float: right !important;
  right: 0 !important;
}

/* logo */
.nav__logo {
  height: 50px;
  pointer-events: none;
  color: #c1b5a6 !important;
}

@media (prefers-reduced-motion: no-preference) {
  .nav__logo {
    animation: logo-spin infinite 20s linear;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* media query */
@media (max-width: 675px) {
  .navbar {
    width: 98%;
  }
  .navbar-dark .navbar-nav .nav-link {
    color: black;
    padding-top: 10px;
    padding: 0 20px;
    margin-top: 10px;
    background-color: #c1b5a6;
  }
}
